/* General */
body {
  background: rgb(15, 15, 15);
  height: 100vh;
  color: #fff;
  font-family: Roboto;
}

.navBar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: #fff;
  display: block;
  text-align: center;
  padding: 16px 16px 0 16px;
  text-decoration: none;
}
li a:hover {
  color: rgb(165, 42, 42);
}

.bodyDiv {
  
}

.heading {
  text-align: center;
  font-size: 3rem;
  background: rgb(165, 42, 42);
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

.andrew {
 
}

.about-paragraph {
  margin: auto;
  width: 85vw;
  padding: 1rem;
  background: rgb(165, 42, 42);
  color: #fff;
  line-height: 1.5rem;
}

/* Homepage */
.homePagePortrait {
  position:relative;
  width: 20%;
  border: 1rem solid rgb(165, 42, 42);
  border-radius: 100%;
  margin-top: 2.3rem;
  left: 38%;
}

/* Portfolio Page */
.project-div {
  margin: auto;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: brown;
  width: 70vw;
}

.project-div:first {

}

.project-div a {
  background: white;
  text-decoration: none;
  padding: 0.4rem;
  color: rgb(0, 0, 0);
}

.project-heading{
  margin-top: 0;
}